@page "/register"
@using SeedPlan.Client.Shared
@inject NavigationManager Nav
@inject IJSRuntime JS

<PageTitle>Skapa konto - SeedPlan</PageTitle>

<div class="auth-page-container">
    <div class="auth-header">
        <button class="btn-back" @onclick="GoBack">
            <Blazicon Svg="Lucide.ChevronLeft" /> Tillbaka
        </button>
    </div>

    <RegisterForm />
</div>

@code {

    private void GoBack() => Nav.NavigateTo("/");

}