<Router AppAssembly="typeof(Program).Assembly" AdditionalAssemblies="new[] { typeof(SeedPlan.Client._Imports).Assembly }">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)">
            <NotAuthorized>
                @* Här tvingar vi Blazor att ladda MainLayout även om du är utloggad *@
                <LayoutView Layout="typeof(MainLayout)">
                </LayoutView>
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="typeof(MainLayout)">
            <p>Sidan hittades inte.</p>
        </LayoutView>
    </NotFound>
</Router>