<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="components.css" /> 
    <link rel="stylesheet" href="SeedPlan.styles.css" /> 
    <link href="_content/Blazicons/css/blazicons.min.css" rel="stylesheet" />
    <link rel="manifest" href="manifest.webmanifest">
    <script src="session-cleanup.js?v=4"></script>
    <script src="notifications.js?v=4"></script>

    <HeadOutlet @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)" />
</head>
<body>
    <div id="app">
    <Routes @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)" />
    </div>
    <script src="_framework/blazor.web.js"></script>

    <script>
        if ('serviceWorker' in navigator && window.location.hostname === 'localhost') {
        navigator.serviceWorker.getRegistrations().then(regs => {
        regs.forEach(reg => reg.unregister());
        });
        }
    </script>
</body>

</html>