<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["SeedPlan.styles.css"]" />
    <script src="https://unpkg.com/lucide@latest"></script>
    <ImportMap />
    
    @* VIKTIGT: Prerender är false *@
    <HeadOutlet @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)" />
</head>
<body>
    @* VIKTIGT: Prerender är false *@
    <Routes @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)" />

    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>

    <script>
        window.initializeLucide = () => {
        if (window.lucide) {
        window.lucide.createIcons();
        }
        };

        const observer = new MutationObserver(() => {
        if (window.lucide) window.lucide.createIcons();
        });
        observer.observe(document.body, { childList: true, subtree: true });
    </script>
</body>
</html>