.plant-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.plant-card {
    background: white;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid #f1f5f9;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    display: flex;
    flex-direction: column;
}

.card-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
}
/* HOVER EFFECT */

.plant-card:hover {
    border-color: var(--primary);
    transition: all 0.2s ease;
}
/*    .plant-card:hover .plant-icon-circle {
        background: var(--primary);
        color: white;
    }*/

.plant-name {
    font-weight: 700;
    margin: 0 0 4px 0;
    color: #1e293b;
    font-family: 'Lora';
    font-size: 1.3rem;
}

.sowing-info {
    font-size: 0.8rem;
    color: #94a3b8;
    margin: 0;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #f8fafc;
}

.feature-icons {
    display: flex;
    gap: 8px;
}

    .feature-icons svg {
        font-size: 1rem;
    }
/* Light Green (Sparkles) */
.icon-light {
    color: #3b82f6 !important; /* Blue */
    font-size: 1.2rem;
}
/* Topping (Scissors) */
.icon-topping {
    color: #a855f7 !important; /* Purple */
    font-size: 1.2rem;
}
/* Arrow */
.arrow {
    color: #cbd5e1 !important; /* Light gray (you had #f1f5f9 which is almost white) */
    font-size: 1.2rem;
}
/* HARDINESS BADGES */

.hardiness-badge {
    font-size: 0.6rem;
    font-weight: 800;
    padding: 4px 8px;
    border-radius: 8px;
}

.card-body {
    flex-grow: 1;
}
