@using SeedPlan.Client.Services
@inject AuthService Auth
@inject NavigationManager Nav

<div class="login-form">
    <div class="input-group">
        <label for="email">E-post</label>
        <input id="email" type="email" @bind="email" placeholder="din@epost.se" />
    </div>
    <div class="input-group">
        <label for="password">Lösenord</label>
        <input id="password" type="password" @bind="password" placeholder="******" />
    </div>

    <div class="remember-me-group">
        <input type="checkbox" id="rememberMe" @bind="rememberMe" />
        <label for="rememberMe">Kom ihåg mig</label>
    </div>

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <p class="error-text" style="color: red;">@errorMessage</p>
    }

    <div class="button-group">
        <button type="button" class="btn-primary" @onclick="HandleLogin">Logga in</button>
        <button type="button" class="btn-secondary" @onclick="NavigateToRegister">Skapa konto</button>
    </div>
    <div class="forgot-password">
        <p @onclick="NavigateToForgotPassword" class="forgot-text">Glömt lösenord?</p>
    </div>
</div>

@code {
    private string email = "";
    private string password = "";
    private string errorMessage = "";
    private bool rememberMe = false;
    private bool isLoadingDemo = false;

    private async Task HandleLogin()
    {
        errorMessage = ""; // Clear old errormsgs.

        var result = await Auth.LoginAsync(email, password, rememberMe);

        if (result.IsSuccess)
        {
            Nav.NavigateTo("/");
        }
        else
        {
            errorMessage = result.Errors.First().Message;
        }
    }



    private void NavigateToRegister()
    {
        Nav.NavigateTo("/register");
    }
    private void NavigateToForgotPassword()
    {
        Nav.NavigateTo("/forgot-password");
    }
}