@inject AppState AppState
@implements IDisposable

<nav class="bottom-nav">
    @if (AppState.CurrentMode == AppMode.SeedPlan)
    {
        <NavLink class="nav-item" href="" Match="NavLinkMatch.All">
            <Blazicon Svg="Lucide.Sun" />
            <span>ÖVERSIKT</span>
        </NavLink>
        <NavLink class="nav-item" href="seeds">
            <Blazicon Svg="MdiIcon.SeedOutline" /><span>FRÖER</span>
        </NavLink>

        <NavLink class="nav-item" href="sowings">
            <Blazicon Svg="MdiIcon.Sprout" />
            <span>SÅDDER</span>
        </NavLink>

        <NavLink class="nav-item" href="guide">
            <Blazicon Svg="MdiIcon.BookOpenVariant" /><span>VÄXTGUIDE</span>
        </NavLink>

        <NavLink class="nav-item" href="settings">
            <Blazicon Svg="Lucide.Settings" />
            <span>INSTÄLLN.</span>
        </NavLink>
    }
    else if(AppState.CurrentMode == AppMode.DahliaBox)
    {
        <NavLink class="nav-item" href="dahliabox-home">
            <Blazicon Svg="Lucide.Sun" />
            <span>ÖVERSIKT</span>
        </NavLink>
        <NavLink class="nav-item" href="tubers">
            <Blazicon Svg="BootstrapIcon.Flower1" /><span>EGNA KNÖLAR</span>
        </NavLink>

        @* <NavLink class="nav-item" href="wishlist">
            <span class="nav-item">ÖNSKELISTA
                (kommande)
            </span>
        </NavLink> *@

        <NavLink class="nav-item" href="dahlias">
            <Blazicon Svg="BootstrapIcon.Flower3" /><span>VARIANTER</span>
        </NavLink>
        <NavLink class="nav-item" href="settings">
            <Blazicon Svg="Lucide.Settings" />
            <span>INSTÄLLN.</span>
        </NavLink>
    }
</nav>



@code {
    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }
}
